<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block logo %}
            {% if app.user %}
            <p><a href="{{ path('logout') }}"><input type="button" value="Sign out"> </a></p>
        {% else %}
           <p><a href="{{ path('login') }}"><input type="button" value="Sing in"> </a></p>
           <p><a href="{{ path('fos_user_registration_register') }}"><input type="button" value="Create new"> </a></p>
        {% endif %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
