{% extends 'base.html.twig' %}
{% block title %} ToDo List Categories {% endblock %}
{% block body %}
    {% for category in categories %}
        Title: <a href="{{ path("show_by_category", {'category':category.id}) }}">{{ category.name }}</a> <br><p>
    {% endfor %}
    <a href="{{ path("showAll") }}"> Show all tasks</a>
{% endblock %}