{% extends 'base.html.twig' %}
{% block title %} ToDo List {% endblock %}
{% block body %}
Success! You create a new task - <b>{{ task_name }}!</b>
<br/><p>
<a href="{{ path('task_new') }}"> Create new task</a><br>
<p>
    <a href="{{ path('showAll') }}"> Show all tasks</a><br>
    <a href="{{ path("show_category") }}">Show all categories</a><br>

{% endblock %}